.section-implemented-project {
  background: $bg-grey;
}
.holder-tech {
  display: flex;
  justify-content: space-between;
  > div {
    &:first-child {
      flex-basis: 55%;
      .description {
        flex-basis: 100%;
      }
    }
  }
}

.used-technologies {
  flex-basis: 35%;
  background: $dark-grey;
  position: relative;
  &::before {
    position: absolute;
    content: '';
    background: $dark-grey;
    top: -80px;
    right: 0;
    bottom: -80px;
    left: 0;
  }
}

.holder-img-tech {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  > div {
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
}

/*ROULETTE*/

.section-roulette {
  height: 750px;
  position: relative;
  overflow: hidden;
  padding: 80px 0 40px;
}

.holder-section-roulette {
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%,18%);
}

.roulette {
  border-radius: 50%;
  animation: rotating 20s linear infinite;
  &:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
}

@-webkit-keyframes roulette /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.main-circle {
  width: 1120px;
  height: 1120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $dark-grey;
  border-radius: 50%;
  position: relative;

}

.equal-circle {
  position: relative;
  padding: 0;
  margin: 1em auto;
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  li {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    transform-origin: 0% 100%;
    border: 5px solid $dark-border;
    transition: .3s ease-in-out;
    pointer-events: none;
    &:first-child {
      transform: rotate(0deg) skewY(-60deg);
    }
    &:nth-child(2) {
      transform: rotate(30deg) skewY(-60deg);
    }
    &:nth-child(3) {
      transform: rotate(60deg) skewY(-60deg);
    }
    &:nth-child(4) {
      transform: rotate(90deg) skewY(-60deg);
    }
    &:nth-child(5) {
      transform: rotate(120deg) skewY(-60deg);
    }
    &:nth-child(6) {
      transform: rotate(150deg) skewY(-60deg);
    }
    &:nth-child(7) {
      transform: rotate(180deg) skewY(-60deg);
    }
    &:nth-child(8) {
      transform: rotate(210deg) skewY(-60deg);
    }
    &:nth-child(9) {
      transform: rotate(240deg) skewY(-60deg);
    }
    &:nth-child(10) {
      transform: rotate(270deg) skewY(-60deg);
    }
    &:nth-child(11) {
      transform: rotate(300deg) skewY(-60deg);
    }
    &:last-child {
      transform: rotate(330deg) skewY(-60deg);
    }
    &:hover {
      background: gold;
    }
  }
}

.roulette-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.middle-circle {
  width: 318px;
  height: 318px;
  background: $bg-orange;
  border: 5px solid $dark-border;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.text {
  position: absolute;
  left: -90%;
  width: 200%;
  top: 16%;
  height: 124%;
  text-align: center;
  -webkit-transform: skewY(60deg) rotate(15deg);
  transform: skewY(60deg) rotate(15deg);
  padding-top: 100px;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  pointer-events: visible;
  cursor: pointer;
  img {
    position: absolute;
    bottom: 56%;
    right: 48%;
  }
}


