#portfolio {
  background: $bg-grey;
}

.filter-holder {
  display: flex;
  label {
    font-family: $bebasBold;
    font-size: 18px;
    padding-right: 30px;
    text-transform: uppercase;
  }
  select {
    padding: 6px 10px;
    border: 2px solid #ff935c;
    font-family: $bebasBold;
    outline: none;
    cursor: pointer;
  }
}

.portfolio-nav {
  display: flex;
  flex-wrap: wrap;
  li {
    border-radius: 15px;
    margin: 0 10px 5px 10px;
    min-width: 90px;
    &:last-child {
      margin: 0 0 5px 10px;
    }
    a {
      padding: 4px 13px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $title-color;
      font-family: $bebasBold;
      text-transform: uppercase;
      border-radius: 17px;
      transition: .2s all;
      &:hover,
      &.active {
        color: #fff;
        background: $bg-orange;
      }
    }
  }
}

