#voltic {
  .holder-introduction-section {
    justify-content: flex-start;
    .introduction-image {
      margin-left: 15%;
    }
  }
  .full-width-banner {
    background: url("../img/bg-full-width-voltic.png") center top no-repeat;
  }
  .section-buying-selling {
    background: url("../img/buyingselling-voltic.png") right center no-repeat;
  }
}