/*Fonts*/
$bebasBold: 'bebas_neuebold', sans-serif;

/*Text-color*/
$title-color: #555;
$base-text-color: #595959;
$white: #ffff;
$btn-color: #393939;

/*Text-font-size*/
$large: 48px;
$middle: 36px;
$small: 24px;
$fz-18: 18px;

/*Backgrounds*/

$bg-grey: #ebebeb;
$bg-dark: #162636;
$bg-orange: #ff935c;
$dark-grey: #363636;

/*Border*/

$section-border: 5px solid #ebebeb;
$dark-border: #484849;